@patientus:registry=https://packages.patientus.de/repository/de.patientus.npm
/
//packages.patientus.de/repository/de.patientus.npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ2aXB2aXRhbGlzdGVuIiwianRpIjoiNTg0YjdkY2VmNjdiYTgwZmQzODQxN2I4YThmZWRiMTQ2NTdkM2VhN2I1YzJjNTZjN2Q0NDcxOWRiN2VhNzk4NjU4OWM4ODk2Mjg0MWIxN2EiLCJpYXQiOjE3MTU2MTY0NTIuODExMTM5LCJuYmYiOjE3MTU2MTY0NTIuODExMTQsImV4cCI6MTcxNTYyMDA1Mi44MTA2MzUsInN1YiI6IiIsInNjb3BlcyI6WyJjIl19.oVwD5Pa2z53peeovCJpbS2JtHry_isFEksLqRwVFQLj3hv4icGK20B1zWuuezGz0C7bRe_awXdDqI0Z8Hg2z1sLzZQFmRwmlSTCyMIGGbPG_PpBZY3lpqDAdrBdsvJo77296VVxMbta-HurAZc5eNvEMD7PukgkoIc7ms392WLzTAVrywYIaCGjTla6g4IhpsUP3r343gMo_TkQTnIMrr7bmHxcuXnQozRFFjJHoGA2ewITSNCDtNsiDpLUGX77R4-MN4LbvHVaKpP5ep-G0a09z4KUj8SBBmRF7tC3Sv6v2bOdz7D2bmpqekQ_WtTwHcwr4iVEWgB0DvSQPPrdTpQ
